<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <title>YaguMoa[ossswoo.tk]</title>
    </head>

    <body class = "body-news-list page-sports body-static" data-nav="sports">
        <div id = "container" class = "wrap-container">
            <div class = "container">
                <div class = 'content03 width1100 line01'>
                    <div class = "section01">
                        <div class = 'title-page02'>
                            <h1 class = "title-type04 bold">
                                <span class = "tit">야구 모아</span>
                            </h1>
                        </div>
                        <section class = 'box-type box-latest01'>
                            <strong class="hidden-obj">DOOSAN 목록</strong>
                            <div class = "paging paging-type01">
                                <a href="/" class="num">All</a>
                                <a href="/nc" class="num">NC</a>
                                <a href="/lg" class="num">LG</a>
                                <strong class = "num on">두산</strong>
                                <a href="/kiwoom" class="num">키움</a>
                                <a href="/kia" class="num">KIA</a>
                                <a href="/lotte" class="num">롯데</a>
                                <a href="/samsung" class="num">삼성</a>
                                <a href="/kt" class="num">KT</a>
                                <a href="/sk" class="num">SK</a>
                                <a href="/hanwha" class="num">한화</a>
                            </div>
                            <div class = "list-type038">
                                <ul class = "list">
                                    <% for(var i of doosan) { %>
                                    <li>
                                        <div class='item-box01'>
                                            <div class='info-box01'>
                                                <span class="blind">송고시간</span>
                                                <span class='txt-time'><%= i.datetime %></span>
                                            </div>
                                            <% if (i.image_url != undefined) { %>
                                            <figure class='img-con'>
                                                <a class = "img img-cover imgLiquid_bgSize imgLiquid_ready" style = "background-size: cover; background-position: center top; background-repeat: no-repeat;" href = <%= i.url %> >
                                                    <img src = <%= i.image_url %>>
                                                </a>
                                            </figure>
                                            <% } %>
                                            <div class='news-con'>
                                                <a class = 'tit-wrap' href = <%= i.url %>>
                                                    <strong class = 'tit-news'><%= i.title %></strong>
                                                </a>
                                                <p class = "lead">
                                                    <%= i.summary %>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <% } %>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
